{{#if (eq this.auth.authState "pending")}}
  Loading...
{{else if (eq this.auth.authState "authing")}}
  Loading...
{{else if (eq this.auth.authState "unauthed")}}
  Enter password:
  <Input
    @value={{this.password}}
    @enter={{bind this.auth.submitPassword}}
    type="password"
    class="border rounded my-2 text-center leading-tight focus:outline-none focus:shadow-outline"
  />
{{else if (eq this.auth.authState "bad_auth")}}
  <p class="text-red">Password incorrect, try again</p>
  Enter password:
  <Input
    @value={{this.password}}
    @enter={{bind this.auth.submitPassword}}
    type="password"
    class="border rounded my-2 text-center leading-tight focus:outline-none focus:shadow-outline"
  />
{{else}}
  <div class="flex items-stretch h-screen">
    <Sidebar
      class="flex-none border w-64"
      @search={{bind this.search}}
    />
    <div class="flex-1 border" style="min-width: 350px;">
      {{outlet}}
    </div>
    {{from-elsewhere name="modal-outlet"}}

    {{#if (eq this.environment "production")}}
      <div class="fixed pin-t w-24 bg-blue-lighter text-center" style="left: 50%">
        {{this.environment}}
      </div>
    {{else}}
      <div class="fixed pin-t w-24 bg-red-lighter text-center" style="left: 50%">
        {{this.environment}}
      </div>
    {{/if}}
  </div>

  {{#if this.showModal}}
    <Modal
      @close={{action (mut this.showModal) false}}
    >
      {{! HACK: this @path is so janky}}
      <Typeahead
        @choose={{bind this.goToPage}}
        @options={{this.graph.pages._subject.value}}
        @path="title.source._subject.value.value"
        @placeholder="Go to page..."
      />
    </Modal>
  {{/if}}

  <Hotkeys
    @priority={{0}}
    @handlers={{this.hotkeys}}
  />
{{/if}}
